@font-face {
    font-family: 'alipuhui';
    src: url('./Alibaba_PuHuiTi_2.0_65_Medium_65_Medium.ttf');
    /* 可选：添加其他字体格式和URL，以便在不同浏览器上兼容 */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alishuhei';
    src: url('./Alimama_ShuHeiTi_Bold.ttf');
    /* 可选：添加其他字体格式和URL，以便在不同浏览器上兼容 */
    font-weight: normal;
    font-style: normal;
}

.editor-wrap {
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background: #e9e9e9;
}
.oreo-editor {
    position: relative;
    height: 100vh;
    display: flex;
    // transform: rotate(10deg);
    .arco-collapse-item-content {
        background-color: #ffffff;
    }
    .arco-input-prepend, .arco-input-append {
        font-size: 12px;
        padding:  0 10px;
    }
    .arco-collapse-item-active > .arco-collapse-item-header {
        border-color: transparent;
    }
    .arco-input-prepend {
        color: #999;
    }
    .arco-input-wrapper {
        padding-left: 7px;
        .arco-input-number-mode-embed .arco-input-number-step {
            right: 2px;
        }
    }
    .layers-pages {
        flex: 0 0 220px;
        width: 220px;
        height: 100vh;
        border-right: 1px solid #efefef;
        position: relative;
        z-index: 2;
        background: #ffffff;
        .tools {
            position: absolute;
            right: -72px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
        }

        &::after {
            content: '';
            display: block;
            width: 22px;
            height: 20px;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            right: -22px;
            z-index: 1;
            border-left: 1px solid #efefef;
            border-right: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
        }
        .arco-tree-node {
            padding-right: 4px;
            &::before {
               display: block;
               content: '';
               width: 100%;
               height: 100%;
               position: absolute;
               left: 0;
               top: 0;
               z-index: 0;
            }
            .arco-tree-node-title {
                white-space: nowrap; /* 防止文本换行 */
                overflow: hidden; /* 隐藏溢出的文本 */
                text-overflow: ellipsis; /* 显示省略号 */
            }
            .v-icon {
                background: transparent;
                color: #999;
                display: none;
            }
            &:hover {
                &::before {
                    background-color: var(--color-fill-2);
                }
            }
            &:hover .v-icon {
                display: inline-flex;
            }
        }
    }
    .bottom-tools {
        position: absolute;
        left: 50%;
        bottom: 16px;
        background: #ffffff;
        transform: translateX(-50%);
        padding: 4px;
        border-radius: 4px;
    }

    .scale-select {
        width: 96px;
        position: absolute;
        right: 262px;
        bottom: 16px;
    }
    .top_ruler {
        position: absolute;
        left: 0;
        top: 0;
        border-bottom: 1px solid #efefef;
        background-color: #ffffff;
    }

    .left_ruler {
        position: absolute;
        right: -21px;
        top: 0;
        border-right: 1px solid #efefef;
        border-left: 1px solid #efefef;
        background-color: #ffffff;
    }
    .work-area {
        width: calc(100vw - 466px);
        position: relative;
        height: 100vh;
        overflow: auto;
        padding: 20px;
        // background: #999;
        .boxSelectHelper {
            position: absolute;
            z-index: 999;
            background: rgba(104, 104, 249, 0.2);
            border: 1px solid rgb(104, 104, 249);
        }
        textarea {
            resize: none;
            overflow: hidden;
        }
        &.cursorText{
            cursor: text !important;
        }
        &.cursorCross{
            cursor: crosshair !important;
        }
        &.cursorGrab{
            cursor: grab !important;
            .vdr {
                cursor: grab !important;
                .handle  {
                    cursor: grab !important;
                }
            }
        }
        .work-content {
            position: relative;
            margin: 2000px;
            pointer-events: none;
            transform-origin: top left;
            transition: all 0.3s;
            .testhelper {
                position: absolute;
                z-index: 999;
                background: rgba(104, 104, 249, 0.2);
                border: 1px solid rgb(104, 104, 249);
            }
            div {
                pointer-events: fill;
            }
        }

        .ref-line {
            position: absolute;
            background: yellowgreen;
            z-index: 9999;
        }

        .v-line {
            width: 1px;
        }

        .h-line {
            height: 1px;
        }

        // 拖拽
        .vdr {
            touch-action: none;
            position: absolute;
            box-sizing: border-box;
            border: 1px dashed transparent;

            &.active {
                cursor: move;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    border: 1px solid rgb(86, 86, 245);
                }
            }
            &.selected {
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 1px solid rgb(86, 86, 245);
                }
            }
            &.input {
                .handle {
                    display: none !important;
                    pointer-events: none  !important;
                }
            }
            .textarea{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;
            }
            .mdi {
                z-index: -1;
            }
            & .handle {
                box-sizing: border-box;
                position: absolute;
                width: 10px;
                height: 10px;
                background: #ffffff;
                border: 1px solid rgb(86, 86, 245);
                z-index: 1;

                &.handle-tl {
                    top: -5px;
                    left: -5px;
                    cursor: nw-resize;
                }

                &.handle-tr {
                    top: -5px;
                    right: -5px;
                    cursor: ne-resize;
                }

                &.handle-ml {
                    top: 2%  !important;
                    height: 96% !important;
                    opacity: 0;
                    cursor: w-resize;
                }

                &.handle-mr {
                    top: 2%  !important;
                    height: 96% !important;
                    opacity: 0;
                    right: -5px;
                    cursor: e-resize;
                }

                &.handle-bl {
                    bottom: -5px;
                    left: -5px;
                    cursor: sw-resize;
                }

                &.handle-bm {
                    bottom: -5px;
                    width: 98% !important;
                    opacity: 0;
                    left: 1% !important;
                    cursor: s-resize;
                }
                &.handle-tm {
                    top: -5px;
                    width: 98% !important;
                    opacity: 0;
                    left: 1% !important;
                    cursor: n-resize;
                }

                &.handle-br {
                    bottom: -5px;
                    right: -5px;
                    cursor: se-resize;
                }
            }

        }
        .virtualGroup {
            .handle  {
                display: none !important;
            }
        }
        .group {
            .handle  {
                display: none !important;
            }
        }

        @media only screen and (max-width: 768px) {
            [class*='handle-']:before {
                content: '';
                left: -10px;
                right: -10px;
                bottom: -10px;
                top: -10px;
                position: absolute;
            }
        }
    }
    .customizes {
        flex: 0 0 246px;
        width: 246px;
        overflow-y: auto;
        height: 100vh;
        position: relative;
        z-index: 2;
        background: #ffffff;
        .arco-row {
            align-items: center;
        }
        .align_group {
            .v-btn+ .v-btn {
                margin-left: 4px;
            }
        }
        .tag_mini {
            height: 22px; width: 22px; padding: 0; display: block;
            cursor: pointer;
            position: relative;
            &::after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                border: 1px #efefef solid;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .input_item {
        display: flex;
        align-items: center;
        margin: 0 16px 16px 16px;
        .label {
            color: rgb(128,128,128);
            width: 77.4px;
        }
        .input {
            flex: 1;
            margin-left: 8px;
            width: 70px;
            height: 32px;
            border-radius: 43px;
            padding: 0 8px;
            background: #efefef;
            border: 0;
        }
    }
    .item_text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }
}
.icon-wrap {
    height: 60vh;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .icon-item {
        width: 80px;
        text-align: center;
        margin: 8px;
        cursor: pointer;

        .label {
            width: 80px;
            height: 36px;
            overflow: hidden;
            font-size: 12px;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}
